[Unit]
Description=Pi Demo Service
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/pi -c /etc/pi/prod.yml

[Install]
WantedBy=multi-user.target