[Unit]
Description=Pioneer600 Demo Service
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/Pioneer600 -f 5 -c /etc/Pioneer600/prod.yml

[Install]
WantedBy=multi-user.target